<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Boxes</title>

    <style>
        body {
            width: 75%;
            height: 75%;
            background-color: white;
            margin: 0 auto;
        }
    
        h1 {
            color: maroon;
            text-align: center;
        }

        .box{
            width: 100px;
            height: 100px;
            background-color: blue; /*{{yourColor}}*/
            border: 5px, 5px, 5px, 5px;
            border-color: black;
            display: inline-block;
        } 

    </style>
</head>
<body>

    <h1>Your Boxes</h1>
    
    {% for i in range(times): %}
        <div class = "box"></div>
    {% endfor %}
    
</body>
</html>