<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Guess the Right Number</title>
</head>

<body>

    
    <div style="width: 600px; height: 500px; margin: 50px auto;">
        <h2 class="text-center"> The Number is less !</h2>
        <h5 class="text-center"> your number is {{y}}</h5>
        <h5 class="text-center"> Generated number is {{z}}</h5>
   
    </div>
</body>

</html>